.header-group {
    padding: 20px 0;
    text-align: center;
}

.header-group h1 {
    color: #000;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.025em;
}

.header-group h2 {
    color: #666;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.01em;
    margin: 0 10px;
    padding-top: 7px;
}

.header-group b {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .header-group {
        padding: 30px 0;
    }

    .padding-top {
        padding: 54px 0 30px;
    }

    .header-group h1 {
        font-size: 59px;
    }

    .header-group h2 {
        font-size: 28px;
        margin: 0;
    }
}
