.header {
    background: #000;
    width: 100%;
    padding: 20px 0;
}

.header__wrapper {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-end;
}

.logo-link {
    height: 30px;
    width: 152px;
    display: block;
}

.logo-img {
    display: block;
    height: 100%;
    width: 100%;
}

.tel,
.support {
    color: #999;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.tel {
    display: none;
}

@media screen and (max-width: 1000px) {
    .header__wrapper {
        margin: 0 20px;
    }

    .support {
        display: none;
    }

    .tel {
        display: block;
    }
}
