.header {
    background: #000;
    height: 47px;
    margin: -62px auto 0;
    padding: 10px 0 5px;
    width: 100%;
}

.header::after {
    clear: both;
    content: '';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.header aside {
    float: right;
    padding-top: 15px;
}

.tel,
.support {
    color: #999;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.tel {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header {
        margin-bottom: 0;
    }

    .support {
        display: none;
    }

    .tel {
        display: block;
    }
}
